ion-button{
    --background: #010101;
    --color: #ffffff;
}


ion-thumbnail {
    --size: 30px;
    --border-radius: 14px;
    --padding: 10px;
  }

ion-toolbar{
    --background: #010101;
    --color: #07FFFF;
}
ion-buttons{
    --background: #010101;
    --color: #07FFFF;
}

ion-avatar {
    --size: 20px;

    --padding: 500px;
}
ion-text{
    color: #BFBCA1;
}

.div{
    --padding:10px;
}