ion-button{
    --background: #010101;
    --color: #ffffff;
}

ion-thumbnail {
    --size: 45px;
    --border-radius: 14px;
  }

img {
    --padding: 100px;
}

ion-avatar {
    --size: 20px;

    --padding: 500px;
}