<ion-header>
  <ion-card ion-text-center>
    <ion-toolbar>
      <ion-item lines="none">
        <ion-buttons slot="start">
          <ion-back-button text="" defaultHref="/socialvibez/music"></ion-back-button>
        </ion-buttons>
        <ion-card-title class="ion-padding">Music</ion-card-title>
      </ion-item>
    </ion-toolbar>
  </ion-card>
</ion-header>

<ion-content *ngFor="let a of a">
  <ion-thumbnail>
    <img src="{{ a.images[0].url }}" alt="" />
  </ion-thumbnail>
  <ion-label>{{ a.name }} </ion-label>
  <ion-text>{{ a.followers }}</ion-text>

  <ion-label> Artist Bio </ion-label>

  <ion-button lines="none">
    <a href="{{ a.preview_url }}" class="button play"> Play Preview </a>
  </ion-button>
  <ion-list lines="none">
    <ion-card *ngFor="let u of user">
      <ion-avatar>
        <img src="u.images[1]" />
      </ion-avatar>
      <ion-card-content>
        <ion-text color="primary">{{ u.display_name }}</ion-text>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
