<ion-header>
  <ion-toolbar>
    <ion-card ion-text-center>
      <ion-item lines="none">
        <ion-buttons slot="start">
          <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-card-title class="ion-padding">Artist</ion-card-title>
      </ion-item>
    </ion-card>
  </ion-toolbar>

  <!-- <app-profile1></app-profile1> -->
</ion-header>

<!-- <div class="ion-text-end"><ion-label>Recent</ion-label></div> -->

<ion-card>
  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  <ion-card-header>
    <!-- <ion-card-title>James Avatar</ion-card-title> -->
    <ion-chip>
      <ion-avatar>
        <img
          alt="Silhouette of a person's head"
          src="https://images.unsplash.com/photo-1517231461833-7301fb461719?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2471&q=80"
        />
      </ion-avatar>
      <ion-label>James Avatar</ion-label>
      <ion-content>
        <ion-card-subtitle>Artist Bio</ion-card-subtitle>
      </ion-content>
    </ion-chip>
  </ion-card-header>
</ion-card>
