<ion-header>
  <ion-card ion-text-center>
    <ion-toolbar>
      <ion-item lines="none">
        <ion-buttons slot="start">
          <ion-back-button text="" defaultHref="/socialvibez/music"></ion-back-button>
        </ion-buttons>
        <ion-card-title class="ion-padding">Artist</ion-card-title>
      </ion-item>
    </ion-toolbar>
  </ion-card>
  <app-profile1></app-profile1>
</ion-header>

<!-- <div class="ion-text-end"><ion-label>Recent</ion-label></div> -->
<ion-content>
  <img alt="Silhouette of mountains" src="https://i.scdn.co/image/ab67616d0000b273508c8a32859f72d80c76a61f" />
  <!-- <ion-card-title>James Avatar</ion-card-title> -->
  <ion-chip>
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://i.scdn.co/image/ab67616d00004851306cfe9dadd57889201c3384" />
    </ion-avatar>
    <ion-label>Elevation Worhip</ion-label>
  </ion-chip>
  <ion-label> Artist Bio </ion-label>
  
<!-- <ion-card lines="none" *ngIf="let m of music"> -->
  <!-- <ion-button>  -->
    <!-- Song Preview -->
    <!-- <ion-icon slot="icon-only" name="caret-forward-circle-sharp"></ion-icon> -->
    <!-- <a href="{{ m.album.preview_url }}">Song Preview</a> -->

      <!-- </ion-button> -->
<!-- </ion-card> -->


  <ion-card>
    <ion-card-content>

    </ion-card-content>
  </ion-card>
</ion-content>
