ion-searchbar{
    left: 425px;
}

ion-card {
    width: 800px;
    height: 200px;
    left: 480px;
    top: 200px;
}

ion-card-title{
    left: 250px;
    font-size: xx-large;
}

ion-card-content{
    left: 100px;
    font-size: medium;
}