<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-searchbar></ion-searchbar>
      <ion-buttons slot="start">
        <ion-menu-button color="success"></ion-menu-button>
      </ion-buttons>
      <ion-title slot="end" color="success">Social Vibez</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Discover & Share</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        New songs, different genres, artists, and cool mixes posted by people all over the world
      </ion-card-content>
    
      <ion-button fill="clear">  > </ion-button>
    </ion-card>
  </ion-content>
</div>