<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-card ion-text-center> -->
    <ion-item lines="none">
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="/socialvibez/friends" router-direction="back"></ion-back-button>
      </ion-buttons>
      <ion-card-title class="ion-padding" ion-text-center> Friend Profile </ion-card-title>
    </ion-item>
    <!-- </ion-card> -->
  </ion-toolbar>

  <app-profile1></app-profile1>
</ion-header>

<!-- <div class="ion-text-end"><ion-label>Recent</ion-label></div> -->
<ion-content>
  <div>
    <img
      alt="Silhouette of mountains"
      src="https://images.unsplash.com/photo-1527113305089-e8b97ecc676b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1312&q=80"
    />
    <ion-chip>
      <ion-avatar>
        <img
          alt="Silhouette of a person's head"
          src="https://images.unsplash.com/photo-1517231461833-7301fb461719?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2471&q=80"
        />
      </ion-avatar>
      <ion-label color="primary">James Avatar</ion-label>
    </ion-chip>
    <ion-segment value="buttons">
      <ion-segment-button value="posts" type="button">
        <ion-label>Posts</ion-label>
      </ion-segment-button>
      <ion-segment-button value="songs" type="button">
        <ion-label>Songs</ion-label>
      </ion-segment-button>
      <ion-segment-button value="buttons" type="button">
        <ion-label>Button</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-content>
