<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/socialvibez/music"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <!-- Profile icons -->
      <div class="chat-avatar">
      <a class="avatar avatar-online" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="June Lane">
        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
      </a>
    </div>

    <div class="chat-avatar">
      <a class="avatar avatar-online" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="June Lane">
        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="...">
      </a>
    </div>


    <div class="chat-avatar">
      <a class="avatar avatar-online" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="June Lane">
        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="...">
      </a>
    </div>


    <div class="chat-avatar">
      <a class="avatar avatar-online" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="June Lane">
        <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="...">
      </a>
    </div>


    <div class="chat-avatar">
      <a class="avatar avatar-online" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="June Lane">
        <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="...">
      </a>
    </div>

</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true">
  <form>
  <ion-list lines="none" *ngIf="(chats) as chat$">
    <ion-item-group class="chats-group" *ngFor="let chat of chat$">
      <app-chat-box [chat]="chat" [current_user_id]="currentUserId"></app-chat-box>
    </ion-item-group>
  </ion-list>
</form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-textarea type="text" autoGrow rows="1" placeholder="Send message" class="ion-text-center"> </ion-textarea><ion-button type="submit" class="sendBtn">send </ion-button>


    <!-- <ion-buttons slot="end">
      <ion-fab-button *ngIf="!isLoading" size="small" color="primary" (click)="createMessage(newMessage)">
        <ion-icon name="send"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="isLoading" size="small" color="primary" (click)="createMessage(newMessage)">
        <ion-spinner name="crescent" color="white"></ion-spinner>
      </ion-fab-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-footer>