<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/socialvibez/music"></ion-back-button>
    </ion-buttons>
    <ion-title>{{name}}</ion-title>
  </ion-toolbar>
</ion-header>
<div> <app-create-m> </app-create-m>
</div>
<ion-content [scrollEvents]="true">
  <form>
  <ion-list lines="none" *ngIf="(chats) as chat$">
    <ion-item-group class="chats-group" *ngFor="let chat of chat$">
      <app-chat-box [chat]="chat" [current_user_id]="currentUserId"></app-chat-box>
    </ion-item-group>
  </ion-list>
  {{newMessage}}
</form>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <form #form="ngForm" (ngSubmit)="onSubmit()">
    <ion-textarea type="text" autoGrow rows="1" placeholder="Send message" class="ion-text-center" [(ngModel)]="messageInfo">
    </ion-textarea>

    <ion-button type="submit" >
      To send
    </ion-button>
    <!-- <ion-buttons slot="end">
      <ion-fab-button *ngIf="!isLoading" size="small" color="primary" (click)="createMessage(newMessage)">
        <ion-icon name="send"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="isLoading" size="small" color="primary" (click)="createMessage(newMessage)">
        <ion-spinner name="crescent" color="white"></ion-spinner>
      </ion-fab-button>
    </ion-buttons> -->
  </form>
  </ion-toolbar>
</ion-footer>