<ion-item 
lines="none" 
[class]="chat?.sender !=current_user_id ? 'sender' : 'user'">
  <ion-label [slot]="chat?.sender == current_user_id ? 'end' : 'start'" class="ion-text-wrap">
    <!-- each individual message that are listed in chat.page.ts -->
    <ion-text>{{chat?.message1}}
              {{chat?.message2}}
              {{chat?.message3}}
              {{chat?.message4}}
              {{chat?.message5}}
              {{chat?.message6}}
    </ion-text> 
    
    
    
    <ion-note>
      <!-- <small>{{(chat?.createdAt)?.toDate() | date: 'HH:mm'}}</small> -->
      <small>10:05AM</small>
    </ion-note>    
  </ion-label>
  

</ion-item>


