<ion-header>
  <ion-card ion-text-center>
    <ion-toolbar>
      <ion-item lines="none">
        <ion-buttons slot="start">
          <ion-back-button text="" defaultHref="/socialvibez/music"></ion-back-button>
        </ion-buttons>
        <ion-card-title class="ion-padding">Artist</ion-card-title>
      </ion-item>
    </ion-toolbar>
  </ion-card>
</ion-header>
<ion-content>
  <ion-card-header>
    <ion-item lines="none">
      <ion-avatar>
        <img
          alt="Silhouette of a person's head"
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.premierfestivals.com%2Fsites%2Fdefault%2Ffiles%2Fimages%2Felevation_wd_0.jpeg&f=1&nofb=1&ipt=0a8a8a364d99105fe785a659098e04abf8814ab610d9170a02c984125812667b&ipo=images"
        />
      </ion-avatar>
      <ion-label class="ion-padding-start">Elevation Worship</ion-label>
    </ion-item>
  </ion-card-header>
  <ion-card>
    <img
      alt="Silhouette of mountains"
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FrJSeF65wALw%2Fmaxresdefault.jpg&f=1&nofb=1&ipt=0afe608b43a72c6f1a72f4e7a4c122fc455498d592ab62d0dd7a32904733a2ed&ipo=images"
    />

    <ion-card-content>
      <ion-text color="secondary"> Oldie but goodie! </ion-text>
      <div class="ion-text-end">
        <ion-text color="primary"> I know right! </ion-text>
      </div>
    </ion-card-content>
    <ion-item> <ion-input></ion-input> </ion-item>
    <ion-button color="light" fill="clear">Send</ion-button>
  </ion-card>
</ion-content>
