<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-header>
    <ion-toolbar>
      <!-- <ion-title>{{ m.name }}</ion-title> -->
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list lines="none" *ngFor="let m of music">
      <ion-item>
        <ion-avatar>
          <!-- <img src="{{ m.album.images[0].url }}" alt="" /> -->
        </ion-avatar>
        <!-- <ion-label>{{ m.album.artists[0].name }}</ion-label> -->
      </ion-item>
      <!-- <audio size="small"> -->
      <!-- <a color="primary" href="{{ m.preview_url }}" class="button play"> Play Preview</a> -->
      <!-- </audio> -->
    </ion-list>
  </ion-content>
</ion-content>
