<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="friends">
      <ion-badge slot="start" color="danger"></ion-badge>
      <ion-icon name="people-circle"></ion-icon>
      <ion-label>Friends</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="music">
      <ion-badge slot="start" color="danger"></ion-badge>
      <ion-icon name="musical-notes"></ion-icon>
      <ion-label>Music</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-badge slot="start" color="danger"></ion-badge>
      <ion-icon name="mail"></ion-icon>
      <ion-label>Messages</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
