<!-- <ion-row>
  <ion-col lines="none" *ngFor="let m of music">
    <ion-item>
      <ion-avatar>
        <img src="{{ m.album.images[0].url }}" alt />
      </ion-avatar>
      <ion-label>{{ m.album.artists[0].name }}</ion-label>
      <ion-button id="open-modal" expand="block">Open Preview</ion-button>
      <ion-modal #modal trigger="open-modal" [presentingElement]="presentingElement">
        <ng-template>
          <ion-content>
            <ion-toolbar>
              <ion-title>Modal</ion-title>
              <a href="{{m.preview_url}}" class="button play"> Play Preview</a>
              <ion-buttons slot="end">
                <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-item>
  </ion-col>
</ion-row> -->


<ion-fab horizontal="end" vertical="top" class="ion-padding">
  <ion-fab-button size="small" expand="block" (click)="setOpen(true)">
  </ion-fab-button>
  <!-- <app-edit-profile></app-edit-profile> -->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <!-- <ion-list> -->
        <ion-item>
          <!-- <ion-avatar> -->
            <!-- <img src="{{ m.album.images[0].url }}" alt /> -->
          <!-- </ion-avatar> -->
          <!-- <ion-label>{{ m.album.artists[0].name }} </ion-label> -->
          <!-- <ion-button id="open-modal" expand="block">Open Preview</ion-button> -->
          <ion-modal #modal trigger="open-modal" [presentingElement]="presentingElement">
            <ng-template lines="none" *ngFor="let m of music">
              
                <ion-toolbar>
                  <ion-title>Modal</ion-title>
                  <!-- <a href="{{m.preview_url}}" class="button play"> Play Preview</a>  -->
                  <button  (click)="getPreviewUrl()">Play Me</button>
                  <ion-buttons slot="end">
                    <ion-button color="light" (click)="modal.dismiss()">Close</ion-button> 
                  </ion-buttons> 
                </ion-toolbar>
            </ng-template>
          </ion-modal>
        </ion-item>
      <!-- </ion-list> -->
    </ion-content>

      <!-- <ion-toolbar> -->
        <!-- <ion-button (click)="openModal()" fill="clear">
          <ion-icon slot="start" name="cog"></ion-icon>
        </ion-button> -->
      <!-- </ion-toolbar> -->
    </ng-template>
  </ion-modal>
</ion-fab>