<ion-header [translucent]="true">
  <ion-card>
    <ion-card-header style="text-align: center">
      <ion-card-subtitle>Social Vibez</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-header>

<ion-content></ion-content>

<ion-footer collapse="condense">
  <nav class="nav-links">
    <ion-segment value="buttons">
      <ion-segment-button
        routerLink="/profile"
        routerLinkActive="true"
        value="home"
      >
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button
        routerLink="/profile/music"
        routerLinkActive="true"
        value="music"
      >
        <ion-icon name="musical-notes"></ion-icon>
      </ion-segment-button>
      <ion-segment-button
        routerLink="/profile/messages"
        routerLinkActive="true"
        value="message"
      >
        <ion-icon name="mail"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </nav>
</ion-footer>
<router-outlet></router-outlet>
