<ion-header [translucent]="true">
  <ion-card>
    <ion-card-header style="text-align: center">
      <ion-card-subtitle>Social Vibez</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-header>

<ion-content [fullscreen]="true"> </ion-content>
<ion-footer collapse="condense">
  <nav navLinks="true">
    <ion-segment value="buttons">
      <ion-segment-button routerLink="../profile" value="home">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button routerLink="../music" value="music">
        <ion-icon name="musical-notes"></ion-icon>
      </ion-segment-button>
      <ion-segment-button routerLink="../messages" value="message">
        <ion-icon name="mail"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </nav>
</ion-footer>
<router-outlet></router-outlet>
