<ion-header>
  <ion-card>
    <ion-item lines="none">
      <ion-card-title class="ion-padding"> Friends </ion-card-title>
    </ion-item>
  </ion-card>
  <app-profile1></app-profile1>
</ion-header>
<ion-content class="ion-padding">
  <div class="ion-text-end"><ion-label>Recent</ion-label></div>
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-thumbnail slot="start" [routerLink]="['/socialvibez/friends-profile']">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
        <ion-label>
          Friends
          
          <p>comments</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<div class="search">
  <input type="text" placeholder="Search.."[(ngModel)]="searchTerm">
  <ion-button (click)="searchFriends()" mat-raised-button>Search</ion-button>
  <p *ngFor="let f of friends">
    <ion-card>
   {{f}}
      </ion-card>
