<ion-header>
  <ion-card>
    <ion-item lines="none">
      <ion-card-title class="ion-padding"> Friends </ion-card-title>
    </ion-item>
  </ion-card>
  <app-profile1></app-profile1>
</ion-header>
<ion-content class="ion-padding">
  <div class="ion-text-end"><ion-label>Recent</ion-label></div>

  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-thumbnail slot="start" [routerLink]="['/socialvibez/friends-profile']">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
        <ion-label>
          Friends
          <p>comments</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- The Code below is a reference  -->
<!-- <ion-button fill="clear" size="large" slot="end">
        <ion-avatar>
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          /> </ion-avatar
      ></ion-button> -->
