<ion-header>
  <ion-card>
    <ion-item lines="none">
      <ion-card-title class="ion-padding"> Music </ion-card-title>
    </ion-item>
  </ion-card>
  <app-profile1></app-profile1>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="primary" [routerLink]="['/socialvibez/artist']">
    <ion-card-header>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
    </ion-card-header>
    <ion-content [fullscreen]="true">
      <!-- <ion-card color="primary">
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
          </ion-card>
          </ion-content> -->
    </ion-content>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-card-content>
        <h1>Find Artist</h1>
        <div class="search">
          <input type="text" placeholder="Search.." [(ngModel)]="searchTerm" />
          <button (click)="searchMusic()" mat-raised-button>Search</button>
          <div *ngIf="music != null">
            <ion-card>
              {{music.artists.items[0].name}}
              <br />
              {{music.artists.items[0].uri}}
            </ion-card>
          </div>
        </div>
      </ion-card-content>
    </ion-item>
  </ion-card>
  <!-- <ion-card-content> 
            <h1>Find Artist</h1>
            <div class="search">
              <input type="text" placeholder="Search.."[(ngModel)]="searchTerm">
              <button (click)="searchMusic()" mat-raised-button>Search</button>
              <p *ngFor="let m of music">
                <ion-card>
               {{m}}
                  </ion-card>
                </p>
                </div>
                </ion-card-content> -->
  <!-- </ion-card> -->

  <ion-card>
    <ion-item lines="none">
      <ion-card-content>
        <h1>Find Artist</h1>
        <div class="search">
          <input type="text" placeholder="Search.." [(ngModel)]="searchTerm" />
          <button style="margin-left: 3vw; font-size: 2vh" (click)="searchMusic()" mat-raised-button>Search</button>
        </div>
        <!-- <div *ngFor="let m of music">
                    <ion-card> {{m.body}} </ion-card>
                  </div> -->
      </ion-card-content>
    </ion-item>
  </ion-card>
</ion-content>
