ion-card-header {
    display: flex;
    flex-flow: column-reverse;
  }
  ion-card-title{
    color: #07FFFF;
  }
ion-header{
  --background:  #808289;

}
  // ion-searchbar.custom {
  //   --background: #82D3C0;
  //   --color: #fff;
  //   --placeholder-color: #fff;
  //   --icon-color: #fff;
  //   --clear-button-color: #fff;
  
  //   --border-radius: 10px;
  // }
  
  ion-input{
    --border-radius: 10px;
    --background:  #808289;
      --color: #fff;
      --placeholder-color: #fff;
      --icon-color: #FCA681;
      --clear-button-color: #fff;
  }
ion-searchbar{
  --color:#07FFFF;
}
  ion-searchbar.ios {
    --cancel-button-color: #07FFFF;
  }
  
  ion-searchbar.md {
    --cancel-button-color: rgb(251, 246, 246);
  }

  ion-avatar {
    --border-radius: 5px;
  }
ion-button {
  --background:var(--ion-color-middle)
}

// .button.play {
//   background: #eb94d0;
//   background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);  background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);  background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);  background-image: -o-linear-gradient(top, #eb94d0, #2079b0);  background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
//   -webkit-border-radius: 20;  -moz-border-radius: 20;  border-radius: 20px;
//   text-shadow: 3px 2px 1px #9daef5;  -webkit-box-shadow: 6px 5px 20px #666666;  -moz-box-shadow: 6px 5px 20px #666666;  box-shadow: 6px 5px 20px #666666;
//   font-family: Arial;  color: #fafafa;  font-size: 27px;  padding: 19px;  text-decoration: none;

// }

// .button.play:hover {
//   background: #2079b0;
//   background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
//   background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
//   background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
//   background-image: -o-linear-gradient(top, #2079b0, #eb94d0); 
//   // background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
//   text-decoration: none;
// }

// ion-modal {
//   --height: 50%;
//   --border-radius: 16px;
//   --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
// }

// ion-modal::part(backdrop) {
//   background: rgba(209, 213, 219);
//   opacity: 1;
// }

// ion-modal ion-toolbar {
//   --background: rgb(14 116 144);
//   --color: white;
// }

