ion-card-header {
    display: flex;
    flex-flow: column-reverse;
  }

  ion-searchbar.custom {
    --background: #82D3C0;
    --color: #fff;
    --placeholder-color: #fff;
    --icon-color: #fff;
    --clear-button-color: #fff;
  
    --border-radius: 10px;
  }
  
  ion-searchbar.ios.custom {
    --cancel-button-color: #19422d;
  }
  
  ion-searchbar.md.custom {
    --cancel-button-color: #fff;
  }

  ion-avatar {
    --border-radius: 5px;
  }
ion-button {
  --backgroung:var(--ion-color-middle)
}

  