<ion-header>
  <ion-card>
    <ion-item lines="none">
      <ion-card-title class="ion-padding"> Music </ion-card-title>
    </ion-item>
  </ion-card>
  <app-profile1></app-profile1>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="primary" [routerLink]="['/socialvibez/artist']">
    <ion-card-header>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>

<ion-card>
  <ion-item lines="none">
    <ion-card-content>
      <h1>Find Artist</h1>
      <div class="search">
        <input type="text" placeholder="Search.." [(ngModel)]="searchTerm" />
        <button style="margin-left: 3vw; font-size: 2vh" (click)="searchMusicTest()" mat-raised-button>Search</button>
      </div>
      <div *ngFor="let m of music">
        <!-- <ion-card> <div routerLink="{{m.external_urls[]"></div> </ion-card> -->
        <ion-card>
          <ion-avatar>
            <img [src]="m.images[0].url">
          </ion-avatar>
          <!-- <a href="{{m.external_urls.spotify}}"></a> -->
          <a href="{{m.external_urls.spotify}}">{{m.external_urls.spotify}}</a>
          <br>
          <a href="{{m.name}}">{{m.name}}</a>
          <br>
          <a href="{{m.images}}">{{m.images}}</a>
          <br>
          <a href="{{m.uri}}">{{m.uri}}</a>
          <br>
          <a href="{{m.external_urls.href}}">{{m.external_urls.href}}</a>
          <br>
          <a href="{{m.url}}">{{m.url}}</a>
          <br>
        </ion-card>
        </div>
          <!-- <a href="https://api.spotify.com/v1/artists/{{m.id}}">{{m.id}}}</a> -->
          <!-- <div>
          <ion-avatar>
            <img alt=“Silhouette of a persons head” src="{{m.external_urls.spotify}}" />
          </ion-avatar>
        </div>
        
       </ion-card>

      </div> -->
    <!-- </ion-card-content>
  </ion-item>
</ion-card> -->

   <!-- <ion-card>
      <ion-item lines="none">
        <ion-card-content> 
          <h1>Find Artist</h1>
          <div class="search">
            <input type="text" placeholder="Search.."[(ngModel)]="searchTerm">
            <button (click)="searchMusic()" mat-raised-button>Search</button>
            <div *ngIf="music != null">
              <ion-card>
             {{music.artists.items[0].name}}
             <br>
             {{music.artists.items[0].uri}}
                </ion-card>
            </div>
              </div>
              </ion-card-content> -->








