<ion-fab horizontal="end" vertical="top" class="ion-padding">
  <ion-fab-button size="small" expand="block" (click)="setOpen(true)">
    <ion-avatar>
      <img
        alt="Silhouette of a person's head"
        src="https://images.unsplash.com/photo-1547434836-398fc5a73e91?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
      />
    </ion-avatar>
  </ion-fab-button>
  <!-- <app-edit-profile></app-edit-profile> -->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-avatar>
            <!-- <img *ngIf="userData.images" alt="Silhouette of a person's head" src="{{ userData.images[0].url }}" /> -->
            <img
              alt="Silhouette of a person's head"
              src="https://images.unsplash.com/photo-1547434836-398fc5a73e91?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
            />
          </ion-avatar>
          <ion-label color="primary" *ngFor="let uD of userData" color="light">{{ uD.display_name }}</ion-label>

          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-card>
        <ion-card-subtitle> About Me </ion-card-subtitle>
        <ion-card-content> </ion-card-content>
      </ion-card>

      <ion-segment value="=comments">
        <ion-segment-button type="button" value="comments">
          <ion-label>Comments</ion-label>
        </ion-segment-button>

        <ion-segment-button type="button" value="segment">
          <ion-label>Segment</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-content class="ion-padding">
        <div class="ion-text-end"><ion-label>Recent Songs</ion-label></div>
        <div class="ion-text-start"><ion-label> Recent Activity </ion-label></div>

        <ion-card>
          <ion-card-content>
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img
                  alt="Silhouette of mountains"
                  src="https://images.unsplash.com/photo-1567095761054-7a02e69e5c43?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80"
                />
              </ion-thumbnail>
              <ion-label>
                Song Title
                <p>Album</p>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-content>

      <ion-content class="ion-padding">
        <div class="ion-text-end"><ion-label>Recent Comments</ion-label></div>

        <ion-card>
          <ion-card-content>
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img
                  alt="Silhouette of mountains"
                  src="https://images.unsplash.com/photo-1533206601904-1a399c3479ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80s"
                />
              </ion-thumbnail>
              <ion-label>
                Jacob Solares
                <p>Dude that was the first time I heard that song!!</p>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-content>
      <ion-toolbar>
        <ion-button href="https://www.spotify.com/us/account/overview/" fill="clear">
          <ion-icon slot="start" name="cog"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ng-template>
  </ion-modal>
</ion-fab>
