// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-background-color: #343434;
	--ion-background-color-rgb: 10,10,10;

	--ion-text-color: rgb(223, 235, 236);
	--ion-text-color-rgb: 223,235,236;


  /** primary beginning of the gradient scale 1 of 5 **/
  --ion-color-primary: #FCA681;
	--ion-color-primary-rgb: 252,166,129;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #de9272;
	--ion-color-primary-tint: #fcaf8e;

  /** This is the NEXT color after the primary color in the gradient scale 2 of 5 **/

  --ion-color-next: #bfbfbe;
	--ion-color-next-rgb: 191,188,161;
	--ion-color-next-contrast: #000000;
	--ion-color-next-contrast-rgb: 0,0,0;
	--ion-color-next-shade: #a8a58e;
	--ion-color-next-tint: #c5c3aa;

  /** secondary is last of the gradient scale 5 of 5 ( might be the most used hence name convention )**/
  --ion-color-secondary: #07FFFF;
	--ion-color-secondary-rgb: 7,255,255;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #06e0e0;
	--ion-color-secondary-tint: #20ffff;

  /**  Middle color of the grandient scale ( which is the 3rd color of 5 in gradient scale ) **/

  --ion-color-middle: #82D3C0;
	--ion-color-middle-rgb: 130,211,192;
	--ion-color-middle-contrast: #000000;
	--ion-color-middle-contrast-rgb: 0,0,0;
	--ion-color-middle-shade: #72baa9;
	--ion-color-middle-tint: #8fd7c6;

  /** tertiary **/
  --ion-color-tertiary: #82D3C0;
	--ion-color-tertiary-rgb: 130,211,192;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #72baa9;
	--ion-color-tertiary-tint: #8fd7c6;

  /** The fourth color is the fourth color in the gradient scale 4 of 5 **/

  --ion-color-fourth: #3dbdb7;
	--ion-color-fourth-rgb: 68,233,224;
	--ion-color-fourth-contrast: #000000;
	--ion-color-fourth-contrast-rgb: 0,0,0;
	--ion-color-fourth-shade: #3ccdc5;
	--ion-color-fourth-tint: #57ebe3;


  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #bfbfbe;
	--ion-color-medium-rgb: 191,191,190;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #a8a8a7;
	--ion-color-medium-tint: #c5c5c5;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;




}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66,140,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }

  .ion-color-primary {
    --ion-color-base: var(--ion-color-primary);
    --ion-color-base-rgb: var(--ion-color-primary-rgb);
    --ion-color-contrast: var(--ion-color-primary-contrast);
    --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
    --ion-color-shade: var(--ion-color-primary-shade);
    --ion-color-tint: var(--ion-color-primary-tint);
  }

  .ion-color-next {
    --ion-color-base: var(--ion-color-next);
    --ion-color-base-rgb: var(--ion-color-next-rgb);
    --ion-color-contrast: var(--ion-color-next-contrast);
    --ion-color-contrast-rgb: var(--ion-color-next-contrast-rgb);
    --ion-color-shade: var(--ion-color-next-shade);
    --ion-color-tint: var(--ion-color-next-tint);
  }

  .ion-color-second {
    --ion-color-base: var(--ion-color-second);
    --ion-color-base-rgb: var(--ion-color-second-rgb);
    --ion-color-contrast: var(--ion-color-second-contrast);
    --ion-color-contrast-rgb: var(--ion-color-second-contrast-rgb);
    --ion-color-shade: var(--ion-color-second-shade);
    --ion-color-tint: var(--ion-color-second-tint);
  }

  .ion-color-middle {
    --ion-color-base: var(--ion-color-middle);
    --ion-color-base-rgb: var(--ion-color-middle-rgb);
    --ion-color-contrast: var(--ion-color-middle-contrast);
    --ion-color-contrast-rgb: var(--ion-color-middle-contrast-rgb);
    --ion-color-shade: var(--ion-color-middle-shade);
    --ion-color-tint: var(--ion-color-middle-tint);
  }

  .ion-color-tertiary {
    --ion-color-base: var(--ion-color-tertiary);
    --ion-color-base-rgb: var(--ion-color-tertiary-rgb);
    --ion-color-contrast: var(--ion-color-tertiary-contrast);
    --ion-color-contrast-rgb: var(--ion-color-tertiary-contrast-rgb);
    --ion-color-shade: var(--ion-color-tertiary-shade);
    --ion-color-tint: var(--ion-color-tertiary-tint);
  
  }

  .ion-color-fourth {
    --ion-color-base: var(--ion-color-fourth);
    --ion-color-base-rgb: var(--ion-color-fourth-rgb);
    --ion-color-contrast: var(--ion-color-fourth-contrast);
    --ion-color-contrast-rgb: var(--ion-color-fourth-contrast-rgb);
    --ion-color-shade: var(--ion-color-fourth-shade);
    --ion-color-tint: var(--ion-color-fourth-tint);
  }
 
  .ion-color-bblue {
    --ion-color-base: var(--ion-color-bblue);
    --ion-color-base-rgb: var(--ion-color-bblue-rgb);
    --ion-color-contrast: var(--ion-color-bblue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-bblue-contrast-rgb);
    --ion-color-shade: var(--ion-color-bblue-shade);
    --ion-color-tint: var(--ion-color-bblue-tint);
  }
  .ion-color-secondary {
    --ion-color-base: var(--ion-color-secondary);
    --ion-color-base-rgb: var(--ion-color-secondary-rgb);
    --ion-color-contrast: var(--ion-color-secondary-contrast);
    --ion-color-contrast-rgb: var(--ion-color-secondary-contrast-rgb);
    --ion-color-shade: var(--ion-color-secondary-shade);
    --ion-color-tint: var(--ion-color-secondary-tint);
  }

  
}
 
